.projects {
  background: #fdf5e6;
  min-height: 100vh;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 1px;
  h2 {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    padding: 10vh 0 10vh 0;
  }
}

.project-container {
  display: flex;
  p {
    font-size: 1.6rem;
    margin: 2vw;
    line-height: 1.4;
    letter-spacing: 1px;
  }
}

.project-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: rgb(20, 20, 218);
    margin-left: 2vw;
  }
  h4 {
    margin: 1vw 0 0 2vw;
    color: rgb(45, 45, 218);
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.heading {
  font-weight: 500;
  font-size: 2rem;
  margin-left: 2vw;
  color: rgb(45, 45, 218);
  text-decoration: underline;
}

.church,
.entercom,
.movieTracker,
.getSwole {
  margin: 0 2vw 0 2vw;
  width: 25vw;
  height: 25vh;
}

.carousel {
  min-height: 700px;
}
