.projects-section {
  box-shadow: 1px -3px 20px black;
  background: #a3a8ab;
  h2 {
    font-family: 'Puritan', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    padding: 24px;
    text-align: center;
  }
}

.projects-container {
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  padding-bottom: 25px;
}

.project {
  // height: 900px;
  max-width: 500px;
  // min-height: 600px;
  // max-height: 600px;
  background: #000;
  border-radius: 3.5px;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 1px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // width: 45vw;
  margin: 0 5px;
  a {
    text-decoration: none;
  }
  
  .church,
  .entercom,
  .movieTracker,
  .palette {
    padding: 15px;
    width: 300px;
    height: 165px;
  }

  p {
    font-family: 'Puritan', sans-serif;
    font-size: 1.1rem;
    padding: 10px;
    line-height: 1.4;
    letter-spacing: 1px;
  }
}

.project-description {
  background: #fef5f5;
  min-height: 350px;
  box-shadow: 1px -3px 20px black;
}

.project-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color:#3c4446;
  min-height: 100px;
  padding-top: 15px;
}

.tech {

}

@media(max-width: 750px) {
  .project-container {
    flex-direction: column;
  }
  .project {
    width: 95vw;
  }
}
