.signature-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fef5f5;
  box-shadow: 1px -3px 20px black;
}

h4 {
  padding: 30px;
  font-family: 'Sriracha', cursive;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 10px;
}

.favicon {
  margin: 20px;
  width: 50px;
}