.app {
  // background: #000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: border-box;
}

h2 {
  font-size: 2rem;
}
