.App {
  text-align: center;
  background: url('../../Assets/mark-koch-KiRlN3jjVNU-unsplash.jpg') no-repeat center center fixed; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

h2 {
  font-size: 2rem;
}