.App {
  text-align: center;
  background: url('../../Assets/mountains.jpg') no-repeat center center fixed; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  box-shadow: border-box;
}

h2 {
  font-size: 2rem;
}