.About {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  padding: 1.5rem;
}

.about-heading {
  text-align: center;
}

.about-article {
  display: flex;
}

.about-text {
  font-size: 1.5rem;
  margin: 2rem;
}

.img-charlie {
  border-radius: 15px;
  margin-top: 1rem;
  width: 20vw;
  box-shadow: grey 3px 3px;
}