.About {
  background-color: #88b0eb;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  padding: 1.5rem;
}

.text {
  font-size: 1.5rem;
  padding: 1rem 4rem;
}

.charlie {
  border-radius: 15px;
  margin-top: 1rem;
  width: 20vw;
}