.header {
  min-height: 100vh;
  background: url('../../Assets/blueBuilding.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-nav {
  display: flex;
  justify-content: center;
  background: #fff;
  min-height: 11vh;
  border-bottom: 2px solid black;
  h2 {
    margin: 5vh 1vh 0 1vh;
  }
}

.personal-info {
  padding: 4.5rem;
}

.header-name,
.job-title {
  font-family: 'Puritan', sans-serif;
  font-size: 4rem;
  color: #000;
  // padding: 15vh 0 0 0;
  text-align: flex-start;
  text-shadow: 1px 1px 1px #9F777D,
               1px 1px 1px #9F777D; 
  h3 {
    font-size: 3rem;
    text-align: center;
  }
}

// .job-title {
//   color: #247BA0;
//   font-size: 3rem;
//   margin-top: 2vh;
//   text-align: center;
//   text-shadow: 1px 1px 1px #9F777D,
//                1px 1px 1px #9F777D; 
// }

.flex-container {
  // display: flex;
  // justify-content: space-between;
  // justify-content: center;
}

// .eric {
//   width: 30vw;
//   margin: 4rem 4rem 0 0;
//   border-radius: 15px;
// }

.github,
.linkedIn {
  fill: #247BA0;
  color: #247BA0;
  width: 3rem;
  // margin: 5rem;
  // margin-bottom: 3vw;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2)
  }
}

.link-container {
  display: flex;
  justify-content: space-evenly;
  width: 10vw;
  align-items: center;

}

// .link-div {
//   width: 10vw;
// }

.quote {
  color: #fff;
  font-size: 3rem;
  padding: 5rem;
}