.header {
  margin-left: 4rem;
}

.personal-info {
  margin-top: 15rem;
}

.header-name {
  font-size: 4rem;
  color: #fff;
  padding: 15vh 0 0 0;
  text-shadow: 1px 1px 1px #ca2a2a,
               3px 3px 5px #ca2a2a; 
}

.job-title {
  color: #fff;
  font-size: 3rem;
  text-shadow: 1px 1px 1px #ca2a2a,
               2px 2px 3.5px #ca2a2a;
  margin-top: 2vh;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.eric {
  width: 30vw;
  margin: 4rem 4rem 0 0;
  border-radius: 15px;
}

.github,
.linkedIn {
  fill: #fff;
  color: #fff;
  width: 3rem;
  // margin: 2vw;
  margin-bottom: 3vw;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2)
  }
}

.link-container {
  display: flex;
}

.link-div {
  width: 10vw;
}

.quote {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2rem;
}