.nav {
  display: flex;
  height: 10vh;
  justify-content: center;
  margin: 0px auto;
  width: 90vw;
}

button {
  background-color: #d3d3d3;
  border-radius: 15px;
  height: 7vh;
  margin: 1vh 2vw;
  padding: 2vh;
  transition: 0.2s ease;
  &:hover {
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin: 2vw;
  }
}